.video-hero {
  position: relative;
  z-index: 0;
  height: calc(100vh);
  height: calc(100svh);
  overflow: hidden;
  background: #000;
  pointer-events: none;
}

.video-hero__frame {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.filters {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
}

.filters a {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
  transition: 0.6s ease-in-out;
}

.filters a:hover {
  /* font-family: "Forma DJR Text Bold"; */
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.filters a.active {
  color: #e2701a;
}

.filters a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #e2701a;
}

.filters a.active::before {
  top: 0;
}

.filters a.active::after {
  bottom: 0;
}

.video-hero__frame iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  aspect-ratio: 16 / 9;
  max-width: none;
  border: 0;
  pointer-events: none;
}
